# TODO: Add patterns to ignore:
# 1. All log files (*.log)
# 2. Entire temp directory (temp/)
# 3. Entire lectures directory (lectures/)
*.log
temp/
lectures/

# Python bytecode & cache files
__pycache__/
*.pyc
